@media screen and (max-width: 1440px) {
  .s3d__helper {
    &[data-step='0'] {
      top: calc(var(--header-height) + 20px + 20px);
      left: 305px;
    }
    &[data-step='1'] {
      left: 222px;
    }
  }
}
@media screen and (max-width: 992px) {
  .s3d__helper {
    &[data-step='0'] {
      top: calc(var(--header-height) + 15px );
      left: 280px;
    }
    &[data-step='1'] {
      top: calc(100% - 120px);
      left: 50%;
      transform: translate(-50%, -100%);
      .s3d__helper__arrow {
        left: 50%;
        bottom: 0;
        transform: translate(-50% , calc(100% + 10px))rotate(-90deg);
      }
    }
    &[data-step='2'] {
      top: calc(50% - 24px);
    }
  }
}
@media screen and (max-width: 600px) {
  .s3d__helper {
    width: 200px;
    padding: 20px 10px 20px 10px;
    &__title {
      font-size: 22px;
    }
    &__close {
      top: 20px;
      right: 10px;
    }

    &[data-step='0'] {
      top: var(--header-height);
      left: 95px;
      .s3d__helper__arrow {
        transform: translate(-100%, 50%);
      }
    }
    &[data-step='2'] {
      top: 50%;
      left: calc(100% - 90px);
      .s3d__helper__arrow {
        transform: translate(100%, -50%);
      }
    }
  }
}
