@media screen and (min-width: 1440px) {
  .header {
    &__logo {
      width: 300px;
      max-width: none;
      margin: 0 270px 0 50px;
    }
  }
}
@media screen and (min-width: 992px) {
  .header {
    &__logo {
      width: 230px;
      margin: 0 270px 0 50px;
    }
  }
}
@media screen and (min-width: 767px) {
  .s3d-wrapper .header{
    &__inner {
      background: none!important;
    }
  }
}

@media screen and (max-width: 1440px) {
  .s3d__slideModule{
    .button-second {
      &__text {
        padding: 10px 10px 10px 15px;
      }
    }
  }

}

@media screen and (max-width: 992px) {
  .s3d__slideModule{
    padding: 0 0 50px;

  }
  .s3d__wrap{
    height: calc(100% - 48px);
  }
  .logo {
    margin: 0 auto 0 30px;
  }
  .header__phone-order-btn {
    margin: 0 auto;
  }
}
