.s3d {

  &__button {
    z-index: 100;
    position: absolute;
    top: 50%;
    display: flex;
    justify-content: center;
    width: 70px;
    height: 70px;
    border: none;
    overflow: hidden;
    align-items: center;
    background: $color1;
    padding: 8px;
    transform: translate(0, -50%);
    transition: background-color .3s ease-in, box-shadow .3s ease-in;
    outline-color: $color2;
    cursor: pointer;

    * {
      pointer-events: none;
    }
    svg {
      display: flex;
      stroke: $color2;
      flex: 1 1 100%;
      transition: fill .3s ease-in;
    }
    &-left {
      left: 0;
    }

    &-right {
      right: 0;
    }
  }
  &__slider{
    &__bg{
      position: fixed;
      left: 0;
      right: 0;
      pointer-events: none;
      height: 20vh;
      width: 100%;
      z-index: 155;
      &-top{
        top: 0;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0.95) 33.33%, rgba(255, 255, 255, 0) 100%);
        //background: linear-gradient(180deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 100%);
      }
      &-bottom{
        bottom: 0;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 100%);
        //background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%);
      }
    }
  }
  &-infoBox{
    grid-area: info-flat;
    display: flex;
    width: 250px;
    flex: 0 1 auto;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    grid-column: 6;
    grid-row: 2 / 7;
    margin: auto 0 auto auto;
    background: $wc;
    overflow: hidden;
    transform: translate(100%, 0);
    z-index: 999;
    transition: transform 0.4s ease-in 0.3s;

    // default change from js
    pointer-events: none;
    visibility: hidden;
    &__text{
      display: flex;
      align-items: center;
      padding: 5px 15px;
      font-family: $default-font;
      font-weight: 600;
      font-size: 11px;
      line-height: 16px;
      letter-spacing: 0.1em;
      text-align: left;
      text-transform: uppercase;
      color: #FFFFFF;
    }
    &__top {
      width: 100%;
    }
    &__image{
      position: relative;
      display: flex;
      justify-content: center;
      height: 240px;
      width: 100%;
      max-width: 100%;
      padding: 30px 35px;
      margin: 0;
      order: 1;
      z-index: 2;
      transition: opacity 0.6s cubic-bezier(.41,.57,.26,1);
      img{
        display: inline-block;
        object-fit: contain;
        max-width: 100%;
        max-height: 100%;
      }
      span{
        margin-left: 7px;
      }
    }
    &__close{
      position: absolute;
      top: 0;
      right: 0;
      height: 36px;
      width: 36px;
      cursor: pointer;
      z-index: 5;
      opacity: 0;
      pointer-events: none;
      transition: all 0.5s ease-in-out;
      &:after{
        position: absolute;
        top: 50%;
        left: 50%;
        content: "";
        width: 60%;
        height: 2px;
        background: $color1;
        transform: translate(-50%,-50%)rotate(45deg);
      }
      &:before{
        position: absolute;
        top: 50%;
        left: 50%;
        content: "";
        width: 60%;
        height: 2px;
        background: $color1;
        transform: translate(-50%,-50%)rotate(-45deg);
      }
      &:hover{
        transform: rotate(90deg);
      }
    }
    &__type{
      position: absolute;
      bottom: 0;
      left: 0;
      display: flex;
      justify-content: center;
      align-items: center;

      background: #E6EAEE;
      font-family: $default-font;
      font-weight: 500;
      font-size: 10px;
      padding: 13px 11px;
      line-height: 1em;
      color: #392425;
      z-index: 5;
      pointer-events: none;
      opacity: 0;
      transition: all 0.5s ease-in-out;
    }
    &__table{
      display: flex;
      width: 100%;
      overflow: hidden;
      order: 2;
      z-index: 3;
      box-sizing: content-box;
      table{
        flex: 1 1 100%;
        margin: 20px 25px 20px 40px;
      }
      td{
        padding: 0 13px;
        font-family: $default-font;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.7em;
        color: #6F7A84;
        &:first-child {
          padding: 0 13px 0 0;
        }
        &:last-child {
          padding: 0 0 0 13px;
        }
      }
    }
    &__buttons{
      position: relative;
      display: flex;
      height: 0;
      overflow: hidden;
      margin: 0 25px 0 40px;
      z-index: 7;
      order: 3;
      opacity: 0;
      pointer-events: none;
      transition: all 0.4s ease-in;
    }
    &__link {
      position: relative;
      flex: 1 1 auto;
      display: flex;
      margin: 0 0 25px;
      padding: 0;
      flex-direction: column;
      align-items: flex-start;
      align-content: flex-start;
      justify-content: center;
      border: none;
      font-family: $default-font;
      font-weight: 500;
      font-size: 18px;
      line-height: 1.3em;
      letter-spacing: -0.05em;
      text-transform: capitalize;
      text-decoration: none;
      color: $bc;
      background: transparent;
      cursor: pointer;
      overflow: hidden;
      transition: color 0.3s ease-in;
      pointer-events: painted;
      z-index: 1;
      outline: none;
      &-arrow {
        width: 100%;
        line-height: 0;
        overflow: hidden;
        margin: 0;
        svg {
          width: 100%;
          height: 6px;
          fill: $bc;
          transition: stroke 0.3s ease-in;
          animation: s3dAnimateArrowHelper 2.2s ease infinite;
        }
      }
      &:hover {
        color: $color1;
        svg {
          stroke: $color1;
        }
      }
    }
    &__add-favourites{
      position: absolute;
      top: 0;
      left: 0;
      display: flex;
      align-content: center;
      align-items: center;
      justify-content: center;
      height: 36px;
      width: 36px;
      background: $color2;
      border: none;
      cursor: pointer;
      z-index: 3;

      pointer-events: none;
      opacity: 0;
      transition: all 0.5s ease-in-out;
      input{
        display: none;
      }
      input:checked + svg{
        fill: $color1;
        stroke: transparent;
      }
      svg{
        height: 50%;
        width: 50%;
        fill: transparent;
        stroke: $color1;
        stroke-width: 1px;
        pointer-events: none;
        transition: stroke .3s ease-out, fill .3s ease-out;
      }
      &:hover{
        box-shadow: 0 4px 15px rgba(122, 65, 56, 0.3);
        svg {
          fill: $color1;
        }
        & input:checked + svg{
          fill: $color1;
        }
      }
    }

    &.s3d-infoBox-hover {
      pointer-events: painted;
      transform: translate(0, 0);
      transition: transform 0.4s ease-in;
    }
    &.s3d-infoBox-active {
      pointer-events: painted;
      transform: translate(0, 0);
      transition: transform 0.4s ease-in;
      .s3d-infoBox {
        &__close {
          pointer-events: painted;
          opacity: 1;
        }
        &__type {
          pointer-events: painted;
          opacity: 1;
        }
        &__add-favourites {
          pointer-events: painted;
          opacity: 1;
        }
        &__buttons {
          pointer-events: painted;
          height: initial;
          opacity: 1;
        }
      }
    }

  }
}

