.s3d{
  &-fv{
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-areas: 'left . content';
    grid-template-columns: 400px 65px auto;
    grid-template-rows: 100%;
    background: linear-gradient(180deg, #152222 0%, #017275 100%);
    padding: var(--header-height) 50px 0 0;
    &__list{
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
      grid-auto-rows: auto;
      grid-gap: 25px;
      width: 100%;
      max-height: calc(100% - 75px);
      padding: 0;
      overflow-y: auto;
      margin-top: 18px;

      &::-webkit-scrollbar {
        width: 0;
        height: 0;
      }

      /*Track*/
      &::-webkit-scrollbar-track {
        background: #DDD9D3;
      }

      /*Handle*/
      &::-webkit-scrollbar-thumb {
        background: #752180;
      }

      &::-webkit-scrollbar-thumb:window-inactive {
        background: #DDD9D3;
      }
    }
    &__plane{
      position: relative;
      display: flex;
      flex-direction: column;
      flex: 1 1 auto;
      transition: box-shadow .5s ease-out;
      &:hover{
        .s3d-card__top,
        .s3d-card__middle,
        .s3d-card__bottom {
          border-color: $color2;
        }
      }
    }
    &__left {
      position: fixed;
      top: 0;
      left: 0;
      grid-area: left;
      height: 100%;
      width: 400px;
    }
    &__bg {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
    &__right{
      grid-area: content;
      display: flex;
      height: 100%;
      flex-wrap: wrap;
      align-content: flex-start;
    }
    &__title{
      width: 100%;
      font-family: $default-font;
      font-size: 36px;
      font-weight: 500;
      color: $wc;
      line-height: 1em;
      letter-spacing: -0.05em;
    }
    &__amount-flat{
      display: flex;
      align-items: center;
      font-family: $default-font;
      font-size: 12px;
      font-weight: 500;
      color: #E1DDD2;
      line-height: 1em;
      margin: 15px auto 5px 0;

      &__num {
        margin: 0 3px;
      }

    }
    .s3d-card__close{
      opacity: 1;
      pointer-events: painted;
    }
  }
  &__favourites{
    position: relative;
    display: flex;
    align-items: center;
    width: 28px;
    height: 26px;
    margin: 0 0 0 auto;
    &-amount{
      margin: 0 5px 0 0;
      font-family: $default-font;
      font-weight: 500;
      font-size: 12px;
      line-height: 1.5em;
      color: $color1;
      cursor: pointer;
    }
    svg{
      height: 13px;
      width: 14px;
      fill: $color1;
      cursor: pointer;
      transition: transform 0.4s ease-in-out;
    }
    &:hover{
      svg{
        transform: scale(1.2);
      }
    }
  }
}
