.s3d {
  &-filter {
    position: relative;
    display: flex;
    width: 100%;
    height: initial;
    align-items: flex-start;
    justify-content: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
    flex: 0 1 100%;
    padding: 0 10px;
    background: transparent;
    grid-area: filter;
    overflow-x: hidden;
    overflow-y: auto;
    transition: height 0.4s ease-in-out;
    &::-webkit-scrollbar {
      width: 0;
      height: 0;
    }
    &-wrap {
      z-index: 110;
      position: absolute;
      top: 0;
      left: 0;
      display: flex;
      flex-direction: column;
      align-content: flex-start;
      align-items: flex-start;
      height: 100%;
      width: 400px;
      transform: translate(0, 0);
      transition: all .1s ease-out;
      grid-area: filter;
      visibility: hidden;
      background: transparent;
      &:not(.s3d-show) {
        .irs-max, .irs-min,.irs--flat .irs-from, .irs--flat .irs-to, .irs--flat .irs-single {
          visibility: hidden!important;
        }
      }
      &.active-filter{
        transform: translateX(-100%);
        transition: transform .5s ease-out, opacity .4s ease-in .45s,visibility 1ms linear .5s;
        &:not(.s3d-open-filter) {
          .irs-max, .irs-min,.irs--flat .irs-from, .irs--flat .irs-to, .irs--flat .irs-single {
            visibility: hidden!important;
          }
        }
        &.s3d-open-filter {
          transform: translateX(0);
          transition: transform .5s ease-out;
        }
      }
      &.s3d-open-filter {
        opacity: 1;
        transition: none;
      }
      .s3d__favourites {
        margin: 0 0 0 auto;
      //  position: absolute;
      //  top: calc(var(--header-height) +  40px);
      //  right: 50px;
      }
    }

    &__title {
      display: flex;
      align-items: center;
      align-content: center;
      width: 100%;
      color: $color1;
      letter-spacing: -0.05em;
      font-size: 20px;
      font-weight: 500;
      line-height: 1em;
      font-family: $default-font;
      padding: 0 10px;
      margin: 0;
    }

    &__top{
      position: relative;
      display: flex;
      align-content: flex-start;
      align-items: flex-start;
      flex-direction: column;
      width: 100%;
      flex-shrink: 0;
      background: #ffffff;
      padding: calc(var(--header-height) + 40px) 30px 45px;
      transition: height 0.4s ease-out 0.2s;
      z-index: 5;
    }
    &__house,
    &__rooms {
      margin-top: 35px;
      input {
        display: none;

        &:checked+ label {
          background: $color1;
          color: $color2;
        }

        &:disabled+ label {
          color: #d3d7df;
          cursor: no-drop;
        }
      }

      &--label {
        position: relative;
        display: flex;
        justify-content: center;
        width: 30px;
        height: 30px;
        align-items: center;
        cursor: pointer;
        background: #F2F2F2;
        transition: background-color .3s ease-in, color .3s ease-in;

        font-family: $default-font;
        font-weight: 500;
        font-size: 10px;
        line-height: 1em;
        color: $color1;
        &:hover {
          background: $color2;
          //color: #ffffff;
        }
      }
      .s3d-filter-select__list {
        justify-content: flex-end;
      }
    }
    &__types {
      margin-top: 35px;
      input {
        display: none;

        &:checked+ label {
          background: $color1;
          color: $color2;
        }

        &:disabled+ label {
          color: #d3d7df;
          cursor: no-drop;
        }
      }

      &--label {
        position: relative;
        display: flex;
        justify-content: center;
        //width: 30px;
        height: 30px;
        padding: 10px 15px;
        align-items: center;
        cursor: pointer;
        background: #F2F2F2;
        transition: background-color .3s ease-in, color .3s ease-in;

        font-family: $default-font;
        font-weight: 500;
        font-size: 10px;
        line-height: 1em;
        color: $color1;
        &:hover {
          background: $color2;
          //color: #ffffff;
        }
      }
      .s3d-filter-select__list {
        justify-content: flex-end;
      }
    }

    &-select {
      &__list {
        display: flex;
        align-content: flex-start;
        justify-content: space-between;

        & div:first-child label {
          margin-left: 0;
        }

        & div:last-child label {
          margin-right: 0;
        }
      }
      &__title {
        color: $bc;
        font-family: $default-font;
        font-size: 12px;
        font-weight: 500;
        line-height: 20px;
      }
      &__input--wrap{
        margin-right: 10px;
      }
    }

    &__area,
    &__living-space,
    &__buttons,
    &__floor {
      width: 100%;
      padding: 0;
      margin-top: 22px;
    }

    &__table{
      display: none;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      align-content: flex-start;
      width: 100%;
      flex: 1 1 100%;
      height: 0;
      padding: 20px 0 0;
      margin: 0;
      background: #F2F2F2;

      &__label{
        height: 100%;
        width: 30px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        *{
          pointer-events: none;
        }
        svg {
          fill: transparent;
          stroke: $color1;
          transition: fill 0.3s ease-in;
        }
        &:hover:not(.active-flat) {
          input:not(:checked) + svg {
            fill: $color1;
            stroke: $color1;
          }
        }
        &.active-flat{
          svg {
            fill: transparent;
            stroke: $wc;
            &.active-flat{
              fill: transparent;
              stroke: $wc;
            }
          }
          &:hover {
            svg {
              fill: $wc;
              stroke: $wc;
            }
          }
        }
      }
    }

    &__head{
      position: sticky;
      top: 0;
      display: flex;
      width: 100%;
      padding: 0 30px;
    }
    &__body{
      display: flex;
      flex-direction: column;
      overflow: auto;
      flex: 1 1 100%;
      width: 100%;
      &::-webkit-scrollbar {
        width: 2px;
      }

      /* Track */
      &::-webkit-scrollbar-track {
        -webkit-box-shadow: none;
      }

      /* Handle */
      &::-webkit-scrollbar-thumb {
        background: $color2;
        -webkit-box-shadow: none;
      }

      &::-webkit-scrollbar-thumb:window-inactive {
        background: $color2;
      }
    }
    &__th{
      display: flex;
      align-items: center;
      align-content: center;
      justify-content: center;
      width: 25%;
      padding: 10px 0 0;
      font-family: $default-font;
      font-weight: 500;
      font-size: 10px;
      line-height: 24px;
      text-align: center;
      cursor: pointer;
      sub {
        position: absolute;
        transform: translateY(-0.5em);
      }

      &[data-sort="none"]{
        cursor: default;
      }
    }
    &__tr{
      display: flex;
      width: 100%;
      height: 42px;
      padding: 0 30px;
      flex: 0 0 42px;
      cursor: pointer;
      &:nth-child(odd){
        background: #ffffff;
      }
      &:hover {
        background: #F1E0C5;
      }
      &.active-flat{
        background: #F1E0C5;
      }
    }
    &__td{
      display: flex;
      align-items: center;
      align-content: center;
      justify-content: center;
      width: 25%;
      font-family: $default-font;
      font-weight: 500;
      font-size: 10px;
      line-height: 24px;
      padding: 0 7px;
      svg{
        height: 18px;
        width: 17px;
        fill: transparent;
        stroke: $color1;
      }
      input{
        display: none;
      }
      input:checked + svg{
        fill: $color1;
        stroke: transparent;
      }
    }
    &__arrow{
      display: flex;
      width: 5px;
      height: 3px;
      margin-left: 5px;
      &--svg{
        transform-origin: center;
        fill: $color1;
        stroke: none;
      }
      .down{
        svg{
          transform: rotate(160deg);
        }
      }
    }

    &__hide {
      position: absolute;
      bottom: 1px;
      left: 50%;
      display: none;
      transform: translate(-50%, 100%);
      padding: 0 20px 10px;
      background: $wc;
      font-family: $default-font;
      font-weight: 500;
      font-size: 12px;
      line-height: 1em;
      color: $color1;
      transition: color 0.3s ease-in;
      border-radius: 0 0 50px 50px;
      cursor: pointer;
      * {
        pointer-events: none;
      }
      &:after {
        content: "";
        display: inline-block;
        height: 0;
        width: 0;
        margin-left: 10px;
        border-top: 3px solid transparent;
        border-left: 3px solid transparent;
        border-right: 3px solid transparent;
        border-bottom: 3px solid $color1;
        transform: translateY(-50%);
      }

      //&:hover {
      //  color: #F1E0C5;
      //  &:after {
      //    border-color: #F1E0C5;
      //  }
      //}
    }
    &__close {
      position: relative;
      width: 50px;
      height: 50px;
      transition: transform 0.5s ease-in-out;
      &-wrap{
        display: none;
        position: absolute;
        top: 18vh;
        right: 0;
        height: 50px;
        width: 70px;
        justify-content: flex-end;
        align-items: center;
        align-content: center;
        padding: 5px 5px 5px 25px;
        background: $wc;
        cursor: pointer;
        transform: translate(calc(100% - 20px), -50%);
        transition: transform 0.5s ease-in-out;
        z-index: -1;
      }
      span {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 24px;
        height: 1px;
        background: $color1;
        transition: color 0.5s ease-in;
        &:nth-child( 1 ) {
          transform: translate(-50%, -50%)rotate(-45deg);
        }

        &:nth-child( 2 ) {
          transform: translate(-50%, -50%)rotate(45deg);
        }
      }
    }

    &__buttons {
      display: flex;
      justify-content: space-between;
      margin-bottom: 50px;
      align-content: flex-start;
      flex-wrap: wrap;
      grid-column: 1 /span 2;
    }

    &__amount-flat {
      display: none;
      width: 100%;
      height: 42px;
      align-items: center;
      align-content: center;
      color: #000000;
      font-family: $default-font;
      font-size: 10px;
      font-weight: 500;
      line-height: 12px;
      background: $color2;
      padding: 0 0 0 40px;
      flex: 0 0 42px;

      &__num {
        margin: 0 7px;
      }
    }

    &__button--apply {
      display: none;
      justify-content: center;
      width: 100px;
      height: 30px;
      margin: auto 0 0 30px;
      color: #3b4456;
      align-items: center;
      background: $color2;
      border: none;
      font-family: $default-font;
      font-size: 12px;
      font-weight: 600;
      line-height: 12px;
      text-transform: capitalize;
      transition: all .4s ease-in-out;
      &-icon {
        display: none;
        svg {
          height: 12px;
          width: 13px;
          stroke: #392425;
        }
      }
      &:hover {
        color: $bc;
        opacity: 0.9;
      }
    }

    &__button--reset {
      display: flex;
      justify-content: center;
      width: initial;
      height: 30px;
      color: $color1;
      border: none;
      align-items: center;
      background: transparent;
      font-family: $default-font;
      font-size: 12px;
      font-weight: 500;
      line-height: 22px;
      margin: auto 0 0 auto;
      transition: color .4s ease-in-out;
      cursor: pointer;
      outline: none;
      &-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 30px;
        height: 30px;
        margin-right: 10px;
        transition: background-color .4s ease-in-out;
        svg{
          width: 70%;
          height: 70%;
          fill: $color1;
          transition: fill .4s ease-in-out;
        }
      }
      span {
        display: none;
      }
      &:hover {
        color: $bc;
        .s3d-filter__button--reset-icon {
          svg{
            fill: $bc;
          }
        }
      }
    }

    &__mini-info {
      display: flex;
      justify-content: space-between;
      width: 100%;
      height: 0;
      flex-shrink: 0;
      padding: 0 30px;
      background: $color1;
      overflow: hidden;
      box-shadow: 0px -10px 30px rgba(0, 89, 91, 0.25);
      transition: height 0.25s ease-out;
      &__title {
        font-family: $default-font;
        font-weight: 600;
        font-size: 10px;
        line-height: 1.2em;
        display: flex;
        align-items: center;
        text-align: center;
        color: #F2F2F2;
      }

      &__elem {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        justify-items: flex-start;
        flex: 0 1 25%;
        padding: 9px 0;
        span {
          font-family: $default-font;
          font-weight: 500;
          font-size: 10px;
          line-height: 1.3em;
          text-align: center;
          color: #F2F2F2;
          margin: 0 2px;
        }
      }

      &__button {
        display: inline-block;
        flex: 0 1 25%;
        font-weight: 600;
        font-size: 10px;
        line-height: 1.2em;
        text-align: center;
        text-decoration-line: underline;
        background: transparent;
        border: none;
        font-family: $default-font;
        color: #F2F2F2;
        outline-color: rgba(241,224,197,0.5);
        transition: color 0.3s ease-in;
        cursor: pointer;
      }

      &__amount{
        display: flex;
        justify-content: center;
      }
      &:hover {
        color: $color2;
      }
    }

    &__bg{
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: bottom;
      margin: auto 0 0 0;
    }
    .irs {
      &--flat {
        width: 100%;
        flex: 0 1 auto;
        .from, .to {
          cursor: pointer ;
        }
        .irs-from, .irs-to, .irs-single {
          color: $bc;
        }
        .irs-line {
          background: #C1C2C4;
        }
      }
      &-bar {
        background-color: $color1;
      }
      &-handle {
        background-color: $color1;
      }
      &--flat &-handle {
        height: 12px;
        width: 12px;
      }
      &--flat &-handle > i:first-child {
        height: 10px;
        width: 10px;
        background: $wc;
        transition: background-color 0.25s ease-in;
      }
      &-handle.state_hover > i:first-child, &-handle:hover > i:first-child {
        background: $color1;
      }
    }


    &__scroll-active {
      .s3d-filter {
        &__mini-info{
          opacity: 1;
          height: 42px;
          transition: height 0.25s ease-in .3s;
        }
        &__top {
          transition: height 0.4s ease-in;
          height: 0!important;
        }
        &__hide {
          visibility: hidden;
          pointer-events: none;
        }
        &__table {
          margin: 0;
          padding: 0;
        }
      }
    }
  }
}

.active-filter{
  width: 400px;
  min-width: 320px;
  grid-area: filter;
  background: #FFFFFF;
  z-index: 130;
  opacity: 0;
  visibility: hidden;
  .s3d{
    &__favourites{
      display: flex;
    }
    &-filter{
      &__hide {
        display: block;
      }
      &__close-wrap{
        display: flex;
        &:hover {
          transform: translate(calc(100% - 2px), -50%);
          .s3d-filter__close {
            transform: rotate(90deg);
          }
        }
      }
      &__title{
        margin: 0;
      }
      &__table{
        display: flex;
        //display: block;
      }
      &__amount-flat{
        display: flex;
      }
      &__bg{
        display: none;
      }
    }
  }
}
