$default-font: "Montserrat",
  sans-serif;
$default-font2: "Montserrat",
  sans-serif;
$projectName: 'andriyivsky';
$mc: #b6b3b0;
$mc3: #293044;
$wc: #ffffff;
$bc: #000000;
//$bc2: #000000;
$color1: #405174;
$color2: #F1E0C5;

$padding-wrap: 45px;
$padding-wrap--small: 20px;

$--bg : #71A461;



:root{
  --header-height: 105px;
}

@media screen and (max-width:1024px){
  :root{
    --header-height: 75px;
  }
}

@media screen and (max-width:575px){
  :root{
    --header-height: 60px;
  }
}
