extends ../layout/main
block variable
  -
    var title_page = 'Квартира 2А'
    var id_page = 'flat-page'
    var class_page = 'flat-page'
    var breadcrumbsBtn = 'filter'
    var breadcrumbsSubitem = [
      {
        label: 'About',
        link: pagesLink[0].about
      }
    ]

block meta
  title= title_page
  meta(name='description', content='')
block head
    link(rel='stylesheet', href="/wp-content/themes/andriyivsky/assets/s3d/styles/s3d.min.css")
block scripts
  script(defer src="/wp-content/themes/andriyivsky/assets/s3d/scripts/vendors.bundle.js")
  script(defer src="/wp-content/themes/andriyivsky/assets/s3d/scripts/index.bundle.js")
  //script(defer src='./assets/s3d/scripts/index.js')
  //script(defer src='./assets/scripts/home.js')
block content
  //- include ../includes/breadcrumbs.pug
  .js-s3d__slideModule.s3d__slideModule.scroll
    div#js-s3d__wrapper
    .s3d-ctr.js-s3d-ctr.unselectable(data-type='complex')
      button(type="button").s3d-ctr__open-filter.js-s3d-ctr__open-filter
        .s3d-ctr__open-filter__icon
          svg( width="26" height="21" viewBox="0 0 26 21" fill="none" xmlns="http://www.w3.org/2000/svg")
            line( y1="2.5" x2="26" y2="2.5" stroke="white")
            line( y1="18.5" x2="26" y2="18.5" stroke="white")
            line( y1="10.5" x2="26" y2="10.5" stroke="white")
            circle( cx="20.5" cy="2.5" r="2" fill="#405174" stroke="white")
            circle( cx="20.5" cy="18.5" r="2" fill="#405174" stroke="white")
            circle( cx="5.5" cy="10.5" r="2" fill="#405174" stroke="white")
        div.s3d-ctr__open-filter__text
          span підбір за
          span параметрами
      .s3d-ctr__compass.js-s3d-ctr__compass
        +svg('Compass')
      .s3d-ctr__elem.js-s3d-ctr__elem
        .s3d-ctr__elem__title Меню 3D
        button(type="button" data-type="flyby" data-flyby="1" data-side="outside").s3d-ctr__select.js-s3d__select.active
          | 3D генплан
        button(type="button" data-type="plannings").s3d-ctr__select.js-s3d__select
          | Вибір <br>
          | планування
        button(type="button" data-type="flat" disabled).s3d-ctr__select.js-s3d__select
          | Квартира
      .s3d-ctr__title.js-s3d-ctr__title Обрати за поверхом
      .s3d-ctr__favourites-bg.js-s3d-ctr__favourites-bg
      .js-s3d-infoBox.s3d-infoBox
        .s3d-infoBox__top.s3d-fon-card__top
          label( data-id='1' class="s3d-infoBox__add-favourites js-s3d-add__favourites")
            input( type="checkbox")
            svg( role="presentation")
              use( xlink:href="#icon-favourites")
          .s3d-infoBox__close.js-s3d-infoBox__close
          .s3d-infoBox__image
            img( src='/wp-content/themes/andriyivsky/assets/s3d/images/KV.png' class="js-s3d-infoBox__image")
          .s3d-infoBox__type.js-s3d-infoBox__type
            span
        .s3d-infoBox__middle.s3d-fon-card__middle
        .s3d-infoBox__bottom.s3d-fon-card__bottom
          .s3d-infoBox__table
            table
              tbody
                tr
                  td № квартиры
                  td.js-s3d-infoBox__table-number
                tr
                  td Этаж
                  td.js-s3d-infoBox__table-floor
                tr
                  td Комнаты
                  td.js-s3d-infoBox__table-room
                tr
                  td Площадь м2
                  td.js-s3d-infoBox__table-area 88.06
          .s3d-infoBox__buttons
            button( type="button" class="s3d-infoBox__link" data-id="33")
              span Детальніше
              .s3d-infoBox__link-arrow
                svg(height="6" viewBox="0 0 493 5" preserveAspectRatio="xMaxYMid slice" fill="none" xmlns="http://www.w3.org/2000/svg")
                  rect( y="2" width="490" height="1")
                  path( d="M490.105 5V0L493 2.5L490.105 5Z")

      .s3d-ctr__open
        .s3d-ctr__open-helper.js-s3d-ctr__open-helper
          .s3d-ctr__open-helper--text повторить обучение
          span.s3d-ctr__open-helper--line
          +svg('icon-question').s3d-ctr__open-helper--icon
        .s3d-ctr__open-infra.js-s3d-ctr__open-infra
          label.s3d-ctr__open-infra--label
            .s3d-ctr__open-infra--text інфраструктура
            input(type='checkbox').s3d-ctr__open-infra--input
            .s3d-ctr__open-infra--change
              span.s3d-ctr__open-infra--circle
      .s3d-ctr__return.js-s3d-ctr__return
        .s3d-ctr__toHome.js-s3d-ctr__toHome
          svg( width="13" height="14" viewBox="0 0 13 14" fill="none" xmlns="http://www.w3.org/2000/svg")
            path( d="M6.5 0L0 5V14H4.3875V9.33333H8.6125V14H13V5L6.5 0Z")
        .s3d-ctr__back.js-s3d-ctr__back
          svg( width="41" height="14" viewBox="0 0 41 14" fill="none" xmlns="http://www.w3.org/2000/svg")
            path( d="M41 7H1M1 7L7 1M1 7L7 13")
          | назад
      .s3d-ctr__favourites.js-s3d-favorite__wrap.s3d-hidden.js-s3d__favourites
        .s3d-ctr__favourites--text избранное
        span.s3d-ctr__favourites-amount.js-s3d-favourites-amount 0
        .s3d-ctr__favourites-icon.js-s3d__favourites-icon
          svg
            use(xlink:href="#icon-favourites")
    .js-s3d__wrapper__plannings.s3d__wrap.s3d__wrapper__plannings(id='js-s3d__plannings')
      .s3d-pl
        .s3d-pl__right
          .s3d-pl__title Планування
          .s3d-pl__amount-flat
            | Знайдено
            span.s3d-pl__amount-flat__num.js-s3d__amount-flat__num 25
            | из
            span.s3d-pl__amount-flat__num.js-s3d__amount-flat__num-all 456

          .s3d-pl__list.js-s3d-pl__list
    .js-s3d__wrapper__favourites.s3d__wrap.s3d__wrapper__favourites(id='js-s3d__favourites')
      .s3d-fv.js-s3d-fv
        .s3d-fv__left
          img( src="/wp-content/themes/andriyivsky/assets/s3d/images/favourite-bg.jpg" class="s3d-fv__bg")
        .s3d-fv__right
          .s3d-fv__title Избранное
          .s3d-fv__amount-flat
            | Знайдено
            span.s3d-fv__amount-flat__num.js-s3d__amount-flat__num 25
            | из
            span.s3d-fv__amount-flat__num.js-s3d__amount-flat__num-all 456
          .s3d-fv__list.js-s3d-fv__list
    .translate-layer.translate-layer__down
      .translate-layer--2
      .translate-layer--3
      .translate-layer--4
      .translate-layer--5

    .s3d-filter-wrap.js-s3d-filter
      .s3d-filter__close-wrap.js-s3d-filter__close
        .s3d-filter__close
          span
          span
      .s3d-filter__top
        .s3d-filter__title
          span  Подбор по параметрам
          .s3d__favourites.js-s3d__favourites.js-s3d-favorite__wrap.s3d-hidden
            span.s3d__favourites-amount.js-s3d-favourites-amount 0
            .js-s3d__favourites-icon
              svg( role="presentation")
                use( xlink:href="#icon-favourites")
        .s3d-filter
          .s3d-filter__floor.js-s3d-filter__floor
            .s3d-filter-select__title Поверх
            .s3d-filter-select__list.js-filter-range
              //label з
              //    input.js-s3d-filter__floor__min--input(type="number")
              input.js-s3d-filter__floor--input(data-type="floor" data-min="1" data-max="15" data-from="1" data-to="15")
              //label по
              //    input.js-s3d-filter__floor__max--input(type="number")
          .s3d-filter__area.js-s3d-filter__area
            .s3d-filter-select__title Площа м
              sub 2
            .s3d-filter-select__list.js-filter-range
              //label з
              //    input.js-s3d-filter__area__min--input( type="number")
              input.js-s3d-filter__area--input(data-type="area" data-min="5" data-max="555" data-from="5" data-to="555")
              //label по
              //    input.js-s3d-filter__area__max--input(type="number")
          .s3d-filter__rooms.js-s3d-filter__rooms.js-s3d-filter__select
            //.s3d-filter-select__title Кімнат
            .s3d-filter-select__list
              .s3d-filter-select__input--wrap
                input.js-s3d-filter__rooms--input( type="checkbox" data-type="rooms" data-rooms="1" id="rooms-1")
                label.s3d-filter__rooms--label( for="rooms-1") 1к
              .s3d-filter-select__input--wrap
                input.js-s3d-filter__rooms--input( type="checkbox" data-type="rooms" data-rooms="2" id="rooms-2")
                label.s3d-filter__rooms--label( for="rooms-2") 2к
              .s3d-filter-select__input--wrap
                input.js-s3d-filter__rooms--input( type="checkbox" data-type="rooms" data-rooms="3" id="rooms-3")
                label.s3d-filter__rooms--label(for="rooms-3") 3к
              .s3d-filter-select__input--wrap
                input.js-s3d-filter__rooms--input( type="checkbox" data-type="rooms" data-rooms="4" id="rooms-4")
                label.s3d-filter__rooms--label( for="rooms-4") 4к
          button.js-s3d-filter__button--reset.s3d-filter__button--reset( type="button")
            .s3d-filter__button--reset-icon
              svg( role="presentation")
                use(xlink:href="#icon-reset")
            span Очистить
          button.js-s3d-filter__button--apply.s3d-filter__button--apply( type="button")
            span готово
            .s3d-filter__button--apply-icon
              svg( role="presentation")
                use(xlink:href="#icon-apply")
        .s3d-filter__hide.js-s3d-filter__hide
          span Скрыть
      .s3d-filter__mini-info.js-s3d-filter__mini-info
        .s3d-filter__mini-info__elem.s3d-filter__mini-info__floor(data-type='floor')
          .s3d-filter__mini-info__title
            | Этаж:
          .s3d-filter__mini-info__floor--amount.s3d-filter__mini-info__amount
            span от
            span.js-s3d-filter__mini-info__floor--amount-from(data-type='min') 0
            span до
            span.js-s3d-filter__mini-info__floor--amount-to(data-type='max') 50
        .s3d-filter__mini-info__elem.s3d-filter__mini-info__area(data-type='area')
          .s3d-filter__mini-info__title
            | Площадь м2
          .s3d-filter__mini-info__area--amount.s3d-filter__mini-info__amount
            span от
            span.js-s3d-filter__mini-info__area--amount-from(data-type='min') 0
            span до
            span.js-s3d-filter__mini-info__area--amount-to(data-type='max') 1000
        .s3d-filter__mini-info__elem.s3d-filter__mini-info__flat(data-type='rooms')
          .s3d-filter__mini-info__title
            | Комнат
          .s3d-filter__mini-info__flat--amount.s3d-filter__mini-info__amount
            span.js-s3d-filter__mini-info__flat--amount(data-type='amount') 1, 2
        .s3d-filter__mini-info__elem.s3d-filter__mini-info__button
          button(class='s3d-filter__mini-info__button js-s3d-filter__mini-info__button') изменить
            br
            | фильтр

      .s3d-filter__table.js-s3d-filter__table
        .s3d-filter__head.js-s3d-filter__head
          .s3d-filter__th(data-sort='none')
            span Тип
          .s3d-filter__th(data-sort='rooms')
            span Комнат
            .s3d-filter__arrow
              svg( width="5" height="3" viewBox="0 0 5 3" fill="none" xmlns="http://www.w3.org/2000/svg").s3d-filter__arrow--svg
                path( d="M-4.76837e-07 3L2.5 2.5828e-07L5 3L2.87764 3L2.12236 3L-4.76837e-07 3Z")
          .s3d-filter__th(data-sort='floor')
            span Этаж
            .s3d-filter__arrow
              svg( width="5" height="3" viewBox="0 0 5 3" fill="none" xmlns="http://www.w3.org/2000/svg").s3d-filter__arrow--svg
                path( d="M-4.76837e-07 3L2.5 2.5828e-07L5 3L2.87764 3L2.12236 3L-4.76837e-07 3Z")
          .s3d-filter__th(data-sort='area')
            span Площадь м
              sub 2
            .s3d-filter__arrow
              svg( width="5" height="3" viewBox="0 0 5 3" fill="none" xmlns="http://www.w3.org/2000/svg").s3d-filter__arrow--svg
                path(d="M-4.76837e-07 3L2.5 2.5828e-07L5 3L2.87764 3L2.12236 3L-4.76837e-07 3Z")
          .s3d-filter__th(data-sort='none') В избранное
        .s3d-filter__body.js-s3d-filter__body
      img( class='s3d-filter__bg' src="/wp-content/themes/andriyivsky/assets/s3d/images/filter-bg.jpg")
      .s3d-filter__amount-flat
        | Знайдено
        span.s3d-filter__amount-flat__num.js-s3d__amount-flat__num 25
        | из
        span.s3d-filter__amount-flat__num.js-s3d__amount-flat__num-all 456

    .s3d-popup-flyby__wrap.js-s3d-popup-flyby
      .s3d-popup-flyby__active.js-s3d-popup-flyby__active
      .s3d-popup-flyby__bg
        .s3d-popup-flyby__bg-active.js-s3d-popup-flyby__bg-active
        .s3d-popup-flyby__bg-all
      .s3d-popup-flyby
        .s3d-popup-flyby__close(data-type="close")
        .s3d-popup-flyby__title
          | Кв.
          span(data-type='title') 2А
        .s3d-popup-flyby__line
        .s3d-popup-flyby__text(data-type='text')
          | Планування знаходиться на іншому будинку. Для перегляду його на 3D моделі вам треба перемкнутися на інший будинок.
        .s3d-popup-flyby__link
          span(data-type='next') Змінити ракурс
          .s3d-popup-flyby__arrow
            svg( width="41" height="14" class="" viewBox="0 0 41 14" fill="none" xmlns="http://www.w3.org/2000/svg")
              path( d="M41 7H1M1 7L7 1M1 7L7 13" stroke="#CFBE97")
        .s3d-popup-flyby__lines-top
          svg( viewBox="0 0 236 31" fill="none" preserveAspectRatio="xMinYMax meet" xmlns="http://www.w3.org/2000/svg")
            path( d="M30 1V30H1V1H30Z" stroke="#CFBE97" fill="none" stroke-width="2")
            path( d="M7 25V7H12.6667V24H18.3333V7H24V25" fill="none" stroke="#CFBE97" stroke-width="2")
            path( d="M51 1L236 1" stroke="#CFBE97" fill="none" stroke-width="2")
        .s3d-popup-flyby__lines-right
          svg( viewBox="0 0 2 320" fill="none" preserveAspectRatio="xMinYMax slice" xmlns="http://www.w3.org/2000/svg")
            path( d="M1 0L1 320" stroke="#CFBE97" stroke-width="2" fill="none")
        .s3d-popup-flyby__lines-bottom
          svg( viewBox="0 0 236 26" fill="none" preserveAspectRatio="xMinYMax meet" xmlns="http://www.w3.org/2000/svg")
            path( d="M236 1L1 1L1 13L235 13L235 25L2.86197e-07 25" stroke="#CFBE97" stroke-width="2" fill="none")


    include ../includes/loader3d.html
block footer
  include ../includes/footer.pug

block header
  include ../includes/header.pug
